@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*=========== REST =====================================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/*=====Base=======================================================*/

html {
  scroll-behavior: smooth;
}

body {
  font: 100 1rem;
  -webkit-font-smoothing: antialiased;
}

.btn {
  width: 80%;
  margin: 0.5em 0;
  height: 4em;
  text-align: center;
  line-height: 4em;
  display: inline-block;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  border: 2px solid #ccc;
}

.btn i {
  padding-right: 1em;
}

.btn:hover {
  color: #2d2e32;
  background-color: #64f4ac;
  border: 2px solid #64f4ac;
}

.container {
  margin-left: 3rem;
  margin-right: 3rem;
}

/*=========LAYOUT=======================================================*/

#header {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #2d2e32;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

/*========= LOGO=======================================================*/

.logo {
  font: 700 1.3rem 'Poppins', sans-serif;

  color: #64f4ac;
}

/*========= NAVIGATION =======================================================*/

nav.container {
  height: 4.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}
nav ul li a {
  transition: 0.2s;
  position: relative;
}

nav ul li a:hover {
  color: #64f4ac;
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #64f4ac;
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.2s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;
  display: grid;
  place-content: center;
  background: #2d2e32;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

nav .menu ul {
  display: none;
}

nav.show ul.grid {
  gap: 4rem;
}

nav.show .menu ul {
  display: grid;
}

/*======= toggle menu ================================================*/

.toggle {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
nav .icon-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 1.5rem;
  top: -1.5rem;
  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/*======= HOME =========================================================*/

#home {
  background-color: #2d2e32;
  border-bottom: #64f4ac 1px solid;
}

#home .container {
  margin: 4.5em 3em;
  padding: 1em 0 4em 0;

  margin-bottom: 0;
}

.text {
  padding-top: 2rem;
  margin: -20px;
  text-align: left;
  order: 0;
}

#home p {
  color: #ddd;
  font-weight: 200;
  padding-top: 0.5rem;
}

#home h2 {
  font-size: 1em;
  color: #ccc;
}
#home h1 {
  color: #fff;
  font-size: 1.5rem;
}
#home h1 span {
  color: #64f4ac;
}
#home .grup-btn {
  padding-top: 2rem;
  text-align: center;
}

/*======= About =========================================================*/
#about .container {
  margin: 0em 3em 4.5rem 3rem;
  padding: 1em 0 4em 0;
}
#about {
  background: #25262a;
  color: #fff;
  text-align: center;
  border-bottom: #64f4ac 1px solid;
}

#about h3 {
  color: #ccc;
}

#about .img {
  position: relative;
}

#about .img img {
  border-radius: 2rem;
  position: relative;
}

#about .text {
  margin: -20px;
  text-align: justify;
}
#about p {
  font-size: 1rem;
  font-weight: 200;
  color: #ccc;
}

#about .btn {
  margin-top: 2rem;
  width: 50%;
}

#about i {
  padding-right: 0rem;
  padding-left: 1rem;
}

.text-header {
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.text-header h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.text-header h3 {
  font-size: 1rem;
  font-weight: 100;
}

#qualification .container {
  margin: 0em 3em 4.5rem 3rem;
  padding: 1em 0 4em 0;
}
#qualification {
  background: #2d2e32;
  color: #fff;
  text-align: center;
  border-bottom: #64f4ac 1px solid;
}

.qualification_tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.qualification_button {
  cursor: pointer;
  font-size: 1rem;
}

.qualification_button i {
  padding-right: 1rem;
}
.qualification_button:hover {
  color: #64f4ac;
}
.qualification_data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification_rouder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #64f4ac;
  border-radius: 50%;
}

.qualification_line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: #64f4ac;
  transform: translate(6px, -7px);
}
.qualification_title {
  font-size: 0.75rem;
}
.qualification_subtitle {
  font-weight: 200;
}

.qualification_calender {
  font-size: 0.75rem;
  font-weight: 100;
}

.qualification_calender i {
  font-size: 0.75em;
  padding-right: 0.7rem;
  color: #ccc;
}
.qualification [data-content] {
  display: none;
}

.qualification_active.qualification_button {
  color: #64f4ac;
}

.qualification_active[data-content] {
  display: block;
}
/*Responsivo*/

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding: 10rem 0;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }
  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
  }

  nav .icon-menu {
    display: none;
  }

  #home {
    padding: 6em 0;
  }
  #home .container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: #2d2e32;
    color: #fff;
  }

  #home .img {
    order: 1;
    width: 45%;
  }

  #home .text {
    width: 55%;
    order: 0;
    text-align: left;
  }

  .tag {
    visibility: inherit;
    margin-top: 3em;
    margin-bottom: 3em;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    background: #64f4ac;
    display: inline-block;
    color: #2d2e32;
    padding: 5px 10px;
    border-radius: 10px;
  }

  #home h2 {
    font-family: 'Space Mono', monospace;
    font-size: 2em;
    color: #ccc;
  }
  #home h1 {
    color: #64f4ac;
    font-size: 3.2em;
  }

  #home p {
    color: #fff;
  }

  .btn {
    margin-right: 3em;
    margin-top: 3em;
    width: 30%;
  }
}

@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.25rem;
  }
}
